In [1]:
!pip install psycopg2-binary pandas

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 4.0 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [2]:
import psycopg2

# параметры подключения
conn_params = {
    "host": "postgresql",   
    "port": 5432,
    "dbname": "studpg",
    "user": "pguser",
    "password": "pgpass"
}

try:
    conn = psycopg2.connect(**conn_params)
    print("✅ Подключение к PostgreSQL успешно!")
except Exception as e:
    print("❌ Ошибка подключения:", e)

✅ Подключение к PostgreSQL успешно!

In [3]:
# test
import pandas as pd

query = "SELECT COUNT(*) AS orders_count FROM orders;"
df = pd.read_sql(query, conn)
display(df)

/tmp/ipykernel_3476/505491798.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   orders_count
0         10000

In [4]:
import pandas as pd
import psycopg2
import time


# сам SQL-запрос
query = """
WITH month_orders AS (
  SELECT
    o.product_id,
    p.name AS product_name,
    p.category_id,
    c.name AS category_name,
    SUM(o.quantity) AS total_qty
  FROM orders o
  JOIN products p ON p.id = o.product_id
  JOIN categories c ON c.id = p.category_id
  WHERE o.order_date >= (CURRENT_DATE - INTERVAL '30 days')
  GROUP BY o.product_id, p.name, p.category_id, c.name
)
SELECT
  category_name,
  product_name,
  total_qty
FROM (
  SELECT
    mo.*,
    ROW_NUMBER() OVER (PARTITION BY category_id ORDER BY total_qty DESC) AS rn
  FROM month_orders mo
) ranked
WHERE rn <= 5
ORDER BY category_name, total_qty DESC;
"""

# засечем время выполнения
start = time.time()
df_top = pd.read_sql(query, conn)
end = time.time()

# выводим результаты
print(f"⏱️ Время выполнения запроса: {end - start:.4f} сек.\n")
display(df_top)

# закрываем соединение
conn.close()

⏱️ Время выполнения запроса: 0.0994 сек.

/tmp/ipykernel_3476/3469042500.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top = pd.read_sql(query, conn)

   category_name               product_name  total_qty
0      Computers           Dell XPS 13 9310        716
1      Computers       Asus ZenBook 14 OLED        642
2      Computers      MacBook Pro 16 M2 Pro        630
3      Computers  Lenovo ThinkPad X1 Carbon        621
4      Computers             MacBook Air M2        608
5     Headphones                  Bose QC45        672
6     Headphones        Apple AirPods Pro 2        654
7     Headphones            Sony WH-1000XM4        636
8     Headphones             JBL Live 660NC        631
9     Headphones          Apple AirPods Max        601
10        Phones         Samsung Galaxy S23        732
11        Phones            iPhone 15 128GB        688
12        Phones            iPhone 14 128GB        657
13        Phones   Samsung Galaxy S23 Ultra        657
14        Phones            iPhone 14 256GB        644

In [5]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 2.5 MB/s eta 0:00:0000:0100:010m
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 9.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.3

In [7]:
from pymongo import MongoClient

# создаём клиент
client = MongoClient(
    "mongodb://mongouser:mongopass@mongodb:27017/?authSource=admin"
)

# выбираем базу
db = client["studmongo"]

# проверка: сколько документов в коллекции products
print("Products:", db.products.count_documents({}))
print("Orders:", db.orders.count_documents({}))
print("Categories:", db.categories.count_documents({}))

Products: 29
Orders: 10000
Categories: 6

In [3]:
# тест
db.products.insert_one({"name": "Test Product", "category_id": 1, "price": 999.99})
print(db.products.find_one({"name": "Test Product"}))

{'_id': ObjectId('691344457b388b51bdf17d24'), 'name': 'Test Product', 'category_id': 1, 'price': 999.99}

In [4]:
import time
from pymongo import MongoClient

# pipeline агрегации (топ-5 товаров в каждой категории)
pipeline = [
    {"$group": {
        "_id": "$product_id",
        "total_qty": {"$sum": "$quantity"}
    }},
    {"$lookup": {
        "from": "products",
        "localField": "_id",
        "foreignField": "id",
        "as": "product_info"
    }},
    {"$unwind": "$product_info"},
    {"$lookup": {
        "from": "categories",
        "localField": "product_info.category_id",
        "foreignField": "id",
        "as": "category_info"
    }},
    {"$unwind": "$category_info"},
    {"$project": {
        "product_name": "$product_info.name",
        "category_name": "$category_info.name",
        "total_qty": 1
    }},
    {"$sort": {"category_name": 1, "total_qty": -1}},
    {"$group": {
        "_id": "$category_name",
        "top_products": {"$push": {"product_name": "$product_name", "total_qty": "$total_qty"}}
    }},
    {"$project": {
        "top_products": {"$slice": ["$top_products", 5]}
    }}
]

# измеряем время выполнения
start_time = time.time()
result = list(db.orders.aggregate(pipeline))
end_time = time.time()

# выводим результаты
for category in result:
    print(f"Категория: {category['_id']}")
    for p in category['top_products']:
        print(f"  {p['product_name']}: {p['total_qty']}")
    print()

print(f"⏱ Время выполнения агрегации MongoDB: {end_time - start_time:.4f} секунд")

Категория: Phones
  Samsung Galaxy S23: 1259
  Samsung Galaxy S23: 1259
  Samsung Galaxy S23 Ultra: 1166
  Samsung Galaxy S23 Ultra: 1166
  iPhone 14 128GB: 1151

Категория: Headphones
  Bose QC45: 1172
  Bose QC45: 1172
  Apple AirPods Pro 2: 1154
  Apple AirPods Pro 2: 1154
  Apple AirPods Max: 1100

Категория: Computers
  Dell XPS 13 9310: 1188
  Dell XPS 13 9310: 1188
  MacBook Pro 16 M2 Pro: 1177
  MacBook Pro 16 M2 Pro: 1177
  MacBook Pro 13 M2: 1153

⏱ Время выполнения агрегации MongoDB: 0.1027 секунд

In [9]:
from datetime import datetime, timedelta
from pymongo import MongoClient
import time

client = MongoClient("mongodb://mongouser:mongopass@mongodb:27017/")
db = client["studmongo"]

# Конвертируем дату отсечения в строку формата YYYY-MM-DD
thirty_days_ago_str = (datetime.now() - timedelta(days=30)).strftime("%Y-%m-%d")

start_time = time.time()

pipeline = [
    {"$addFields": {
        # Преобразуем строковую дату в настоящий Date
        "order_date_dt": {"$dateFromString": {"dateString": "$order_date"}}
    }},
    {"$match": {"order_date_dt": {"$gte": datetime.strptime(thirty_days_ago_str, "%Y-%m-%d")}}},
    {"$lookup": {
        "from": "products",
        "localField": "product_id",
        "foreignField": "id",
        "as": "product_info"
    }},
    {"$unwind": "$product_info"},
    {"$lookup": {
        "from": "categories",
        "localField": "product_info.category_id",
        "foreignField": "id",
        "as": "category_info"
    }},
    {"$unwind": "$category_info"},
    {"$group": {
        "_id": {
            "category": "$category_info.name",
            "product": "$product_info.name"
        },
        "total_qty": {"$sum": "$quantity"}
    }},
    {"$sort": {"_id.category": 1, "total_qty": -1}},
    {"$group": {
        "_id": "$_id.category",
        "top_products": {
            "$push": {
                "product_name": "$_id.product",
                "total_qty": "$total_qty"
            }
        }
    }},
    {"$project": {"top_products": {"$slice": ["$top_products", 5]}}}
]

results = list(db.orders.aggregate(pipeline))
end_time = time.time()

for category in results:
    print(f"\nКатегория: {category['_id']}")
    for product in category["top_products"]:
        print(f"  {product['product_name']}: {product['total_qty']} шт.")

print(f"\n⏱ Время выполнения: {end_time - start_time:.4f} секунд")

Категория: Computers
  Dell XPS 13 9310: 1432 шт.
  Asus ZenBook 14 OLED: 1284 шт.
  MacBook Pro 16 M2 Pro: 1260 шт.
  Lenovo ThinkPad X1 Carbon: 1242 шт.
  MacBook Air M2: 1216 шт.

Категория: Headphones
  Bose QC45: 1344 шт.
  Apple AirPods Pro 2: 1308 шт.
  Sony WH-1000XM4: 1272 шт.
  JBL Live 660NC: 1262 шт.
  Apple AirPods Max: 1202 шт.

Категория: Phones
  Samsung Galaxy S23: 1464 шт.
  iPhone 15 128GB: 1376 шт.
  Samsung Galaxy S23 Ultra: 1314 шт.
  iPhone 14 128GB: 1314 шт.
  iPhone 14 256GB: 1288 шт.

⏱ Время выполнения: 0.9273 секунд